<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Backbone tutorial</title>

    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

<script id="person-id" type="text/template">
    <strong><%= name %></strong> (<%= age %>) - <i><%= job %></i>
</script>

<script src="js/lib/underscore.js"></script>
<script src="js/lib/jquery.js"></script>
<script src="js/lib/backbone.js"></script>
<script src="js/lesson-12-namespace.js"></script>

   <p>Привет!</p>

</body>
</html>